<!-- **********************************************************************
**********************************************************************
********************************************************************** -->

<!--  **Binding** -->
<!-- <app-l-10-binding>  </app-l-10-binding> -->




<!-- **********************************************************************
**********************************************************************
********************************************************************** -->

<!-- ** Input and OutPut ** -->
<!-- وقتی اپلیکشن هامون را به کامپوننت های کوچکتر تبدیل میکنیم نیاز داریم بین این کامپوننت ها ارتباط برقرار کنیم -->
<!-- input برای ورود داده به داخال کاپموننت -->
<!--
 پدر به فرزند  input 
-->
<!-- <app-l-20-inputoutput ></app-l-20-inputoutput> -->

<!-- <app-l-20-inputoutput  caption="My Varible View Parent To Child"></app-l-20-inputoutput>
<app-l-20-inputoutput  [caption]="ts_ParentVarible"></app-l-20-inputoutput> -->



<!-- **********************************************************************
**********************************************************************
********************************************************************** -->
<!--
فرزند به پدر   output 
-->
<!-- <app-l-20-inputoutput (onCaptionClick)="handleCaptionClick($event)" ></app-l-20-inputoutput> -->


<!-- **********************************************************************
**********************************************************************
********************************************************************** -->

<button (click)="handleSetUserData()" > Set Data User   </button>